######################################################################################################################################################

# @project        Countdown
# @file           .gitignore
# @author         Edith Santacana <edith@loftorbital.com>
# @license        Copyright (C) 2019 by Loft Orbital Solutions

######################################################################################################################################################

.DS_Store
node_modules/
build/
dist/

######################################################################################################################################################
